* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #191919;
}
.carousel-item {
    height: 100vh; /* 50% da altura da janela do navegador */
    overflow: hidden;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  

